.gameInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    margin: 8px 0;
}

.gameInfo .title{
    display: flex;
    flex-direction: column;
}

.versus{
    display: flex;
    gap: 16px;
}

.versus h3{
    align-self: center;
}

.rename{
    display: flex;
    justify-content: center;
}

dialog{
    padding: 8px;
}

.closeModal{
    width: 100%;
}

.prompts{
    display: flex;
    flex-direction: column;
}

.prompts > input:last-of-type{
    margin-bottom: 8px;
}

.prompts button{
    margin-bottom: 8px;
    width: 100%;
}


.gameInfo .info{
    text-align: center; 
}

.reset{
    display: block;
    margin: auto;
}

.board{
    margin: auto;
    background-color: black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.board button{
    border: 0;
    background-color: white;
    font-size: xx-large;
}
