*{
    margin: 0;
    padding: 0;
}

.gameInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameInfo div{
    margin: 8px 0px;
}

.gameInfo .title{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.gameInfo .info{
    text-align: center; 
}

.board{
    margin: auto;
    background-color: black;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.board button{
    border: 0;
    background-color: white;
}

.board button:hover{
    background-color: lightgrey;
}

